@import 'variables';

.card {
  position: relative;
  width: 43rem;
  height: 30rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 8px;

  @media only screen and(max-width:$bp-largest) {
    width: 35rem;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    grid-template-rows: 1fr 1fr;

    @media only screen and(max-width:$bp-medium) {

      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-row-gap:3rem;
    }
  }

  &-mainTitle {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin: 1.5rem;
    font-size: 3.5rem;

    &--black {
      text-align: center;
      font-size: 3.5rem;
    }
  }

  &-mainText {
    text-align: center;
    width: 43%;
    margin: 2rem auto;
  }

  &-img {
    width: 7rem;
    position: absolute;
    right: 25px;
    bottom: 25px;
  }

  &-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  &-text {
    margin-top: 3rem;
  }

  &-1 {
    border-top: 4px solid $cyan;
    transform: translateY(50%);

    @media only screen and(max-width:$bp-medium){
      
     transform: translateY(0);
     grid-column: 1/3;
     justify-self: center;
    
    }
  }
  &-2 {
    border-top: 4px solid $red;

    @media only screen and(max-width:$bp-medium){
      
    
      grid-column: 1/3;
      justify-self: center;
     
     }
  }
  &-3 {
    border-top: 4px solid $orange;
    transform: translateY(50%);

    @media only screen and(max-width:$bp-medium){
      
      transform: translateY(0);
      grid-column: 1/3;
      justify-self: center;
     
     }
  }
  &-4 {
    border-top: 4px solid $blue;
    grid-column: 2/3;
    margin-top: 2rem;


    @media only screen and(max-width:$bp-medium){
      
      grid-column: 1/3;
      justify-self: center;
    
    }
  }
}
